if TARGET_CI20

config SYS_CPU
	default "xburst"

config SYS_BOARD
	default "ci20"

config SYS_VENDOR
	default "imgtec"

config SYS_SOC
	default "jz4780"

config SYS_CONFIG_NAME
	default "ci20"

endif
